<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/userhomepage}">
<head>
<script type="text/javascript">
	function FocusOnInput() {
		document.getElementById("categoryName").focus();
	}
</script>

</head>
<body class="loading" data-layout="topnav" onload="FocusOnInput()">
	<div layout:fragment="app_content">
		<div style="padding: 3px 0px" security:authorize
			access="hasAuthority('ROLE_USER' , 'ROLE_MANAGER')">
			<h5 style="margin-left: 20px;">Add new Ticket</h5>
			<div class="card"
				style="margin-top: 0px; margin-left: 20px; margin-right: 20px;">
				<div class="card-content">
					<div class="row">
						<div class="col s12">

							<div class="fixedButton">
								<a th:href="@{/userbugTracker}"><div
										class="waves-effect waves-light btn btn-change red accent-2">Cancel</div></a>
							</div>

							<!-- Form Advance -->
							<div class="col s12 m12 l12">
								<div id="Form-advance">

									<div id="html-view-validations">
										<form class="formValidate0" id="formValidate0" action="#"
											th:action="@{/userSaveBug}" th:object="${bug}"
											autocomplete="off" method="post">

											<div class="row ">
												<div class="input-field col m6 s12">
													<input placeholder="Enter Ticket Name" id="bugName"
														name="bugName" value="" required type="text"
														th:field="*{bugName}"> <label for="bugName">Ticket
														Name</label>
												</div>
												<div class="input-field col m6 s12">
													<input placeholder="Bug No" id="bugNo" name="bugNo"
														value="" required type="text" th:field="*{bugNo}">
													<label for="bugNo">Ticket No</label>
												</div>

											</div>
											<div class="row ">
												<div class="input-field col m6 s12">
													<select th:field="*{author.name}">
														<option th:each="user : ${assignedToUsers}"
															th:value="${user.id}" th:text="${user.userName}"
															th:selected="selected" class="dropdown-item disabled"></option>
													</select> <label for="author">Author</label>
												</div>
												<div class="input-field col m6 s12">
													<select th:field="*{assignee}">
														<option th:each="user : ${listUsers}"
															th:value="${user.id}" th:text="${user.userName}"
															th:selected="selected" class="dropdown-item disabled"></option>
													</select> <label for="assignee">Assignee</label>
												</div>
											</div>
											<div class="row ">

												<div class="input-field col m6 s12">
													<select class="select2-multiple"
														data-placeholder="Choose Type" required="required"
														th:field="*{ticketType}">
														<option value="">Choose....</option>
														<option th:value="CR" th:text="CR"></option>
														<option th:value="ENHANCEMENT" th:text="ENHANCEMENT"></option>
														<option th:value="BUGFIXING" th:text="BUGFIXING"></option>
														<option th:value="OTHERS" th:text="OTHERS"></option>
													</select> <label for="ticketType"> Ticket Type</label>
												</div>

												<div class="input-field col m6 s12">
													<select class="select2-multiple"
														data-placeholder="Choose ..." required="required"
														th:field="*{priority}">
														<option value="">Choose....</option>
														<option th:value="LOW" th:text="LOW"></option>
														<option th:value="MODERATE" th:text="MODERATE"></option>
														<option th:value="HIGH" th:text="HIGH"></option>
													</select> <label for="priority"> Priority</label>
												</div>
												<div class="input-field col m6 s12" style="display: none;">
													<select th:field="*{bugStatus}">
														<option value="" disabled selected>Status</option>
														<option th:value="PENDING" th:text="PENDING"></option>

													</select> <label for="bugStatus"> Status</label>
												</div>

											</div>

											<div class="row ">

												<div class="input-field col m6 s12">
													<select class="select2-multiple" multiple="multiple"
														required="required" th:field="*{applicationName}">
														<option value="" disabled selected>Choose....</option>
														<option th:value="TNETS41" th:text="TNETS41"></option>
														<option th:value="TNETS41ARC" th:text="TNETS41ARC"></option>
														<option th:value="BOSS" th:text="BOSS"></option>
														<option th:value="DMS" th:text="DMS"></option>
														<option th:value="TSS" th:text="TSS"></option>
														<option th:value="BI" th:text="BI"></option>
														<option th:value="BCS" th:text="BCS"></option>
														<option th:value="TIS" th:text="TIS"></option>
														<option th:value="EMAILBACKUP" th:text="EMAIL_BACKUP"></option>
														<option th:value="CUSTOMS_CONTROL_TOWER"
															th:text="CUSTOMS_CONTROL_TOWER"></option>
														<option th:value="ANALYTICSDASHBOARD"
															th:text="ANALYTICS_DASHBOARD"></option>
														<option th:value="AISERVICES" th:text="AI_SERVICES"></option>
														<option th:value="CUSTOMS360" th:text="CUSTOMS360"></option>
														<option th:value="OTHERS" th:text="OTHERS"></option>
													</select> <label for="applicationName"> Application Name</label>
												</div>


												<div class="input-field col m6 s12">
													<select class=" select2-multiple" multiple="multiple"
														required="required" th:field="*{serverName}">
														<option value="" disabled selected>Choose....</option>
														<option th:value="DC1" th:text="DC1"></option>
														<option th:value="DC2" th:text="DC2"></option>
														<option th:value="HQ" th:text="HQ"></option>
														<option th:value="BI" th:text="BI"></option>
														<option th:value="TIS" th:text="TIS"></option>
														<option th:value="GA-PROD" th:text="GA-PROD"></option>
														<option th:value="TSS" th:text="TSS"></option>
														<option th:value="EMAILBACKUP" th:text="EMAILBACKUP"></option>
														<option th:value="SIT" th:text="SIT"></option>
														<option th:value="GA-TRIAL" th:text="GA-TRIAL"></option>
														<option th:value="CR2" th:text="CR2"></option>
														<option th:value="CUSTOMS360" th:text="CUSTOMS360"></option>
														<option th:value="OTHERS" th:text="OTHERS"></option>
													</select> <label for="serverName"> Server Name</label>
												</div>
											</div>

											<div class="row ">

												<div class="input-field col m6 s12">
													<label for="date-demo2">Estimated Completion Date</label> <input
														class="datepicker" type="text" id="date-demo2"
														placeholder="Choose the Date" name="estimatedFixDate"
														th:field="*{estimatedFixDate}" required>

												</div>

												<div class="input-field col m3 s12">
													<label for="message">Estimated Days</label> <input
														type="number" id="estimatedDays"
														placeholder="Enter the Days" name="estimatedDays" min="1"
														max="366" oninput="validateEstimatedDays()"> <span
														id="estimatedDaysError" style="color: red"></span>
												</div>

												<div class="input-field col m3 s12">
													<label for="message">Estimated Hours</label> <input
														type="number" id="estimatedHours"
														placeholder="Enter the Hours" name="estimatedHours">
												</div>


											</div>
											<div>
												<div class="input-field col s12">
													<textarea rows="4" id="description"
														class="materialize-textarea" name="description"
														placeholder="Remarks" value="" required></textarea>
													<label for="message">Remarks</label>
												</div>




												<div class="fixedButton1">
													<button
														class="waves-effect waves-light btn btn-change green"
														type="submit" name="action">Save</button>
												</div>
											</div>
										</form>
									</div>


								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

<script>
function validateEstimatedDays() {
    const estimatedDaysInput = document.getElementById("estimatedDays");
    const estimatedDaysError = document.getElementById("estimatedDaysError");
    const estimatedDays = parseInt(estimatedDaysInput.value);

    if (estimatedDays < 1 || estimatedDays > 366 || isNaN(estimatedDays)) {
        estimatedDaysError.innerHTML = "Please enter a number between 1 and 366.";
        estimatedDaysInput.setCustomValidity("Please enter a number between 1 and 366.");
    } else {
        estimatedDaysError.innerHTML = "";
        estimatedDaysInput.setCustomValidity("");
    }
}
</script>

<script>
	$.fn.datetimepicker.Constructor.Default = $.extend({},
			$.fn.datetimepicker.Constructor.Default, {
				icons : {
					time : 'far fa-clock',
					date : 'far fa-calendar',
					up : 'fas fa-arrow-up',
					down : 'fas fa-arrow-down',
					previous : 'fas fa-chevron-left',
					next : 'fas fa-chevron-right',
					today : 'far fa-calendar-check-o',
					clear : 'far fa-trash',
					close : 'far fa-times'
				}
			});

	$('#datetimepicker1').datetimepicker({
		format : 'DD/MM/YYYY h:mm A'
	});
</script>
<script type="text/javascript">
		$(".date").datepicker({
			format : "dd-mm-yyyy",
		});
	</script>

</html>