<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
layout:decorate="~{fragments/userhomepage}">
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	rel="stylesheet" />
<head>
<script>
$(document).ready(function() {
	const myInput = document.getElementById('hours');
	const timeInstance = M.Timepicker.init(myInput, {
	twelveHour: false,
    defaultTime: 'now'
});

// forces materialize time picker to display default time in input
timeInstance._updateTimeFromInput();
timeInstance.done();

});

</script>
</head>

<body class="loading" data-layout="topnav">
	<div layout:fragment="app_content">
		<div style="padding: 3px 0px"
			sec:authorize="hasAuthority('ROLE_USER')">
			
			<h5 style="margin-left: 20px;">Add Deployment Planner</h5>
				<div class="card"
				style="margin-top: 0px; margin-left: 20px; margin-right: 20px;">
				<div class="card-content">
					<div class="row">
									<div class="col s12">	
						
					
							<div class="fixedButton"> 
								<a th:href="@{/deploymentPlanners}"><div class="waves-effect waves-light btn btn-change red accent-2">Cancel</div></a>
									</div>

							</div>
						</div>
								
								<!-- Form Advance -->
                            <div class="col s12 m12 l12">
                                <div id="Form-advance" >
                                    
                                        <div id="html-view-validations">
                                        <form class="formValidate0" id="formValidate0" action="#"
												th:action="@{/saveDeploymentPlanner}" th:object="${deploymentPlannerDto}"
												autocomplete="off" method="post">
												
										
											<div class="row ">
											
												<div class="input-field col m6 s12">
                                                    <select th:field="*{performer}">
                                                        <option value="" disabled selected>Performer</option>
                                                        <option th:each="user : ${assignedToUsers}" readonly
															th:value="${user.userName}" th:text="${user.userName}"
															th:selected="selected"></option>
                                         
                                                    </select>
                                                    <label> Performer</label>
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <select id="resolvedBy" 
														 required="required"
														th:field="*{auther}">
				                                           
                                                        	<option th:each="listUsersForAuther : ${listUsersForAuther}"
															th:value="${listUsersForAuther.userName}"
															th:text="${listUsersForAuther.userName}"
															th:selected="selected"></option>
															
                                                    </select>
                                                    <label for="requestMode"> Author</label>
                                                </div>
											</div>
											
											<div class="row ">
												
												<div class="input-field col m6 s12">
                                                    <select  class="select2-multiple"
													 multiple="multiple"
													data-toggle="select2" required="required"
													th:field="*{application}">
			                                                <option value="" disabled selected>Choose....</option>
                                                       		 <option th:value="TNETS41" th:text="TNETS41"></option>
															<option th:value="TNETS41ARC" th:text="TNETS41ARC"></option>
															<option th:value="BOSS" th:text="BOSS"></option>
															<option th:value="DMS" th:text="DMS"></option>
															<option th:value="TSS" th:text="TSS"></option>
															<option th:value="BI" th:text="BI"></option>
															<option th:value="BCS" th:text="BCS"></option>
															<option th:value="TIS" th:text="TIS"></option>
															<option th:value="EMAILBACKUP" th:text="EMAILBACKUP"></option>
															<option th:value="OTHERS" th:text="OTHERS"></option>
                                                    </select>
                                                    <label for="application"> Application</label>
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <select class="select2-multiple"
													 multiple="multiple" required="required"
														th:field="*{serverName}">
				                                             <option value="" >Choose....</option>
                                                        	<option th:value="DC1" th:text="DC1"></option>
														<option th:value="DC2" th:text="DC2"></option>
														<option th:value="HQ" th:text="HQ"></option>
														<option th:value="YUSEN" th:text="YUSEN"></option>
														<option th:value="NAIGAI" th:text="NAIGAI"></option>
														<option th:value="NIPPON" th:text="NIPPON"></option>
														<option th:value="KEPPEL" th:text="KEPPEL"></option>
														<option th:value="GA-TRIAL" th:text="GA-TRIAL"></option>
														<option th:value="GA-PROD" th:text="GA-PROD"></option>
														<option th:value="TSS_BI" th:text="TSS_BI"></option>
														<option th:value="SIT" th:text="SIT"></option>
														<option th:value="TIS" th:text="TIS"></option>
														<option th:value="EMAILBACKUP" th:text="EMAILBACKUP"></option>
														<option th:value="CR2" th:text="CR2"></option>
														<option th:value="OTHERS" th:text="OTHERS"></option>
                                                    </select>
                                                    <label for="application"> Server Name</label>
                                                </div>
											</div>
												
											
											<div class="row ">
											<div class="input-field col m6 s12">
																		<label for="date-demo2">Deployment Date</label> <input class="task-datepicker"
																			type="text" id="date-demo2" 
																			th:field="*{deploymentDate}" required>

																	</div>
												<div class="input-field col m6 s12">
									
																	<label for="time-demo">Deployment Hour</label> <input class="timepicker"
																			type="text" id="hours" th:field="*{deploymentHour}" placeholder="00:00"
																			 required>

																	</div>
										</div>
										<div class="row ">
										
										     <div class="input-field col m6 s12">
                                                    <input class="validate" required name="fileType" id="fileType" type="text" th:field="*{fileType}" placeholder="File Type">
                                                    <label for="first_name01">File Type </label>
                                                </div>
                                                
                                                 <div class="input-field col m6 s12">
                                                    <input class="validate" required name="enhancedFor" id="enhancedFor" type="text" th:field="*{enhancedFor}" placeholder="Enhanced For">
                                                    <label for="first_name01">Enhanced-For </label>
                                                </div>
									
											</div>


											<div class="row ">
											       
											       <div class="input-field col s12">
                                                    <textarea id="deployment" name="deployment" class="materialize-textarea" th:field="*{deployment}" 
													rows="3" value="" required></textarea>
                                                    <label for="message">Deployment</label>
                                                </div>

												<div class="input-field col s12">
                                                    <textarea id="comment" name="comment" class="materialize-textarea" th:field="*{comment}" 
													 value="" ></textarea>
                                                    <label for="message">Comment</label>
                                                </div>
												
											<div class="fixedButton1">
											<button  class="waves-effect waves-light btn btn-change green" 
											type="submit" name="action">Save
                                             </button>
											</div>	
 											</div>
										</form>
									</div>
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>

</body>
</html>