<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/homepage}">
<head>
</head>
<body class="loading" data-layout="topnav">
	<div layout:fragment="app_content">
	
		<div style="padding: 3px 0px" sec:authorize="hasAuthority('ROLE_ADMIN')">
		<h5 style="margin-left: 20px;">Category View</h5>
			<div class="card"
				style="margin-top: 0px; margin-left: 20px; margin-right: 20px;">
				<div class="card-content">
		
			
						<div class="row">
									<div class="col s12">
						
							<div class="fixedButton">		
							<a th:href="@{/addcategory}">
								<div class="waves-effect waves-light btn btn-change green">Add</div></a>
								</div>
							

					 <div class="section section-data-tables">
					<table id="bcs-data-table"
						class="table table-condensed striped dt-responsive nowrap">
						<thead>
							<tr>
								<th>Category Name</th>
								<th>Description</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr  style="color: black" th:each="category : ${listCategory}">

								<td th:text="${category.categoryName}">Category Name</td>
								<td th:text="${category.description}">Description</td>

								<td><a th:href="@{'/editcategory/'+ ${category.id}}"
									class="btn-floating btn-small btn-change" data-toggle="tooltip"
									title="Edit Category"> <i class="material-icons" style="color: blue; background-color: #e8e8f5;">edit</i>
								</a> <a th:href="@{'/deletecategory/' + ${category.id}}"
									class="btn-floating btn-small btn-change" data-toggle="tooltip"
									title="Delete Category"><i class="material-icons" style="color: red;background-color: #f5cbcb; ">delete_forever</i>
								</a></td>
							</tr>
						</tbody>
					</table>
					</div>

					</div>
					</div>
					</div>
				</div>
			</div>
			</div>
</body>
</html>