 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 
</head>
<body>
  
 <!-- BEGIN: Footer-->
<div id ="footer">
    <footer class="page-footer footer-fixed">
        <div class="footer-copyright">
            <div class="container"><span class="right hide-on-small-only">&copy; <a
					href="https://www.tnetsglobal.com/" target="_blank"
					style="color: #006BDC; ">TRADENET SERVICES PTE
						LTD. 2023</a>  All rights reserved.</span></div>
        </div>
    </footer>
</div>
    <!-- END: Footer-->
    
 </body>
</html>