<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">

<head>

</head>

<body class="loading" data-layout="topnav">
	<div layout:fragment="app_content">
		<!-- Begin page -->
		<div class="wrapper">

			<!-- ============================================================== -->
			<!-- Start Page Content here -->
			<!-- ============================================================== -->

			<div class="content-page">
				<div class="content">

					<!-- Start Content-->
					<div class="container-fluid">

						<!-- start page title -->
						<div class="row">
							<div class="col-12">
								<div class="page-title-box">
									<div class="page-title-right">
										<ol class="breadcrumb m-0">
											<li class="breadcrumb-item"><a
												href="javascript: void(0);">Hyper</a></li>
											<li class="breadcrumb-item"><a
												href="javascript: void(0);">Apps</a></li>
											<li class="breadcrumb-item active">Projects Calendar</li>
										</ol>
									</div>
									<h4 class="page-title">Projects Calendar</h4>
								</div>
							</div>
						</div>
						<!-- end page title -->

						<div class="card">
							<div class="card-body">
								<div class="row">
									<!-- start projects-->
									<div class="col-xl-3">
										<div class="pr-xl-3">
											<h5 class="mt-0 mb-3">Projects</h5>
											<!-- start search box -->
											<div class="app-search">
												<form>
													<div class="form-group position-relative">
														<input type="text" class="form-control"
															placeholder="search by name..." /> <span
															class="mdi mdi-magnify"></span>
													</div>
												</form>
											</div>
											<!-- end search box -->

											<div class="row">
												<div class="col">
													<div class="slimscroll" style="max-height: 535px;">
														<a href="javascript:void(0);" class="text-body">
															<div class="media mt-2 p-2">
																<div class="avatar-sm">
																	<span
																		class="avatar-title bg-success-lighten rounded-circle text-success">
																		<i class='uil uil-moonset font-24'></i>
																	</span>
																</div>
																<div class="media-body ml-2">
																	<h5 class="mt-0 mb-0">
																		Lunar <span class="badge badge-success-lighten ml-1">On
																			Track</span>
																	</h5>
																	<p class="mt-1 mb-0 text-muted">ID: proj101</p>
																</div>
															</div>
														</a> <a href="javascript:void(0);" class="text-body">
															<div class="media bg-light p-2">
																<div class="avatar-sm">
																	<span
																		class="avatar-title bg-success-lighten rounded-circle text-success">
																		<i class='uil uil-moon-eclipse font-24'></i>
																	</span>
																</div>
																<div class="media-body ml-2">
																	<h5 class="mt-0 mb-0">
																		Dark Moon <span
																			class="badge badge-success-lighten ml-1">On
																			Track</span>
																	</h5>
																	<p class="mt-1 mb-0 text-muted">ID: proj102</p>
																</div>
															</div>
														</a> <a href="javascript:void(0);" class="text-body">
															<div class="media mt-1 px-2 py-2">
																<div class="avatar-sm">
																	<span
																		class="avatar-title bg-warning-lighten rounded-circle text-warning">
																		<i class='uil uil-mountains font-24'></i>
																	</span>
																</div>
																<div class="media-body ml-2">
																	<h5 class="mt-0 mb-0">
																		Aurora <span class="badge badge-warning-lighten ml-1">Locked</span>
																	</h5>
																	<p class="mt-1 mb-0 text-muted">ID: proj103</p>
																</div>
															</div>
														</a> <a href="javascript:void(0);" class="text-body">
															<div class="media mt-1 px-2 py-2">
																<div class="avatar-sm">
																	<span
																		class="avatar-title bg-warning-lighten rounded-circle text-warning">
																		<i class='uil uil-moon font-24'></i>
																	</span>
																</div>
																<div class="media-body ml-2">
																	<h5 class="mt-0 mb-0">
																		Blue Moon <span
																			class="badge badge-warning-lighten ml-1">Locked</span>
																	</h5>
																	<p class="mt-1 mb-0 text-muted">ID: proj104</p>
																</div>
															</div>
														</a> <a href="javascript:void(0);" class="text-body">
															<div class="media mt-1 px-2 py-2">
																<div class="avatar-sm">
																	<span
																		class="avatar-title bg-danger-lighten rounded-circle text-danger">
																		<i class='uil uil-ship font-24'></i>
																	</span>
																</div>
																<div class="media-body ml-2">
																	<h5 class="mt-0 mb-0">
																		Casanova <span class="badge badge-danger-lighten ml-1">Delayed</span>
																	</h5>
																	<p class="mt-1 mb-0 text-muted">ID: proj106</p>
																</div>
															</div>
														</a> <a href="javascript:void(0);" class="text-body">
															<div class="media mt-1 px-2 py-2">
																<div class="avatar-sm">
																	<span
																		class="avatar-title bg-success-lighten rounded-circle text-success">
																		<i class='uil uil-subway-alt font-24'></i>
																	</span>
																</div>
																<div class="media-body ml-2">
																	<h5 class="mt-0 mb-0">
																		Darwin <span class="badge badge-success-lighten ml-1">On
																			Track</span>
																	</h5>
																	<p class="mt-1 mb-0 text-muted">ID: proj107</p>
																</div>
															</div>
														</a> <a href="javascript:void(0);" class="text-body">
															<div class="media mt-1 px-2 py-2">
																<div class="avatar-sm">
																	<span
																		class="avatar-title bg-danger-lighten rounded-circle text-danger">
																		<i class='uil uil-gold font-24'></i>
																	</span>
																</div>
																<div class="media-body ml-2">
																	<h5 class="mt-0 mb-0">
																		Eagle <span class="badge badge-danger-lighten ml-1">Delayed</span>
																	</h5>
																	<p class="mt-1 mb-0 text-muted">ID: proj108</p>
																</div>
															</div>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- end projects -->

									<!-- gantt view -->
									<div class="col-xl-9 mt-4 mt-xl-0">
										<div class="pl-xl-3">
											<div class="row">
												<div class="col-auto">
													<a href="javascript: void(0);"
														class="btn btn-success btn-sm mb-2">Add New Task</a>
												</div>
												<div class="col text-sm-right">
													<div class="btn-group btn-group-sm btn-group-toggle mb-2"
														data-toggle="buttons" id="modes-filter">
														<label class="btn btn-light d-none d-sm-inline-block">
															<input type="radio" name="modes" id="qday"
															value="Quarter Day"> Quarter Day
														</label> <label class="btn btn-light"> <input type="radio"
															name="modes" id="hday" value="Half Day"> Half Day
														</label> <label class="btn btn-light"> <input type="radio"
															name="modes" id="day" value="Day"> Day
														</label> <label class="btn btn-light active"> <input
															type="radio" name="modes" id="week" value="Week" checked>
															Week
														</label> <label class="btn btn-light"> <input type="radio"
															name="modes" id="month" value="Month"> Month
														</label>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col mt-3">
													<svg id="tasks-gantt"></svg>
												</div>
											</div>
										</div>
									</div>
									<!-- end gantt view -->
								</div>
							</div>
						</div>

					</div>
					<!-- container -->

				</div>
				<!-- content -->

				<!-- Footer Start -->
				<footer class="footer">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">2018 - 2019 © Hyper - Coderthemes.com
							</div>
							<div class="col-md-6">
								<div class="text-md-right footer-links d-none d-md-block">
									<a href="javascript: void(0);">About</a> <a
										href="javascript: void(0);">Support</a> <a
										href="javascript: void(0);">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</footer>
				<!-- end Footer -->

			</div>

			<!-- ============================================================== -->
			<!-- End Page content -->
			<!-- ============================================================== -->


		</div>
		<!-- END wrapper -->

		<!-- Right Sidebar -->
		<div class="right-bar">

			<div class="rightbar-title">
				<a href="javascript:void(0);" class="right-bar-toggle float-right">
					<i class="dripicons-cross noti-icon"></i>
				</a>
				<h5 class="m-0">Settings</h5>
			</div>

			<div class="slimscroll-menu rightbar-content">

				<div class="p-3">
					<div class="alert alert-warning" role="alert">
						<strong>Customize </strong> the overall color scheme, layout
						width, etc. Note that, Hyper stores the preferences in local
						storage.
					</div>

					<!-- Settings -->
					<h5 class="mt-3">Color Scheme</h5>
					<hr class="mt-1" />

					<div class="custom-control custom-switch mb-1">
						<input type="radio" class="custom-control-input"
							name="color-scheme-mode" value="light" id="light-mode-check"
							checked /> <label class="custom-control-label"
							for="light-mode-check">Light Mode</label>
					</div>

					<div class="custom-control custom-switch mb-1">
						<input type="radio" class="custom-control-input"
							name="color-scheme-mode" value="dark" id="dark-mode-check" /> <label
							class="custom-control-label" for="dark-mode-check">Dark
							Mode</label>
					</div>

					<!-- Width -->
					<h5 class="mt-4">Width</h5>
					<hr class="mt-1" />
					<div class="custom-control custom-switch mb-1">
						<input type="radio" class="custom-control-input" name="width"
							value="fluid" id="fluid-check" checked /> <label
							class="custom-control-label" for="fluid-check">Fluid</label>
					</div>
					<div class="custom-control custom-switch mb-1">
						<input type="radio" class="custom-control-input" name="width"
							value="boxed" id="boxed-check" /> <label
							class="custom-control-label" for="boxed-check">Boxed</label>
					</div>



					<button class="btn btn-primary btn-block mt-4" id="resetBtn">Reset
						to Default</button>

					<a
						href="https://themes.getbootstrap.com/product/hyper-responsive-admin-dashboard-template/"
						class="btn btn-danger btn-block mt-3" target="_blank"><i
						class="mdi mdi-basket mr-1"></i> Purchase Now</a>
				</div>
				<!-- end padding-->

			</div>
		</div>

		<div class="rightbar-overlay"></div>
		<!-- /Right-bar -->

	</div>

</body>
</html>